.wrapItem {
    display: flex;
    gap: 24px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    padding: 24px;
    width: 888px;
    height: 358px;
    background: #fff;
}

.wrapItem:not(:last-child) {
    margin-bottom: 32px;
}

.img {
    border-radius: 10px;
    width: 290px;
    height: 310px;
    object-fit: cover;
    object-position: center;
}

.title {
    display: flex;
   justify-content: space-between;
   margin-bottom: 8px;
}

.title h2 {
    margin: 0;
}

.wrapPrice {
    display: flex;
    gap: 10px;   
}

.btnHeart {
    border: none;
    background-color: transparent;
    transition: background-color 0.3s;
    cursor: pointer;
}

.heart {
    font-size: 25px; 
}

.heartActive {
    font-size: 25px; 
    color: red ;
}

.wrapLocation  {
    display: flex;
    gap: 16px;  
    list-style-type: none; 
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #101828; 
}

.review {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.wrapDescription {
    margin-bottom: 24px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    width: calc(100% - 20px);
    display: -moz-box;
    -moz-box-orient: vertical;
    max-width: 100%;
    overflow-wrap: anywhere;
}

.wrapEquipment {
    display: flex;
    flex-wrap: wrap; 
    list-style-type: none; 
    padding: 0;
    margin: 0; 
   margin-bottom: 24px;
    gap: 8px; 
}


