<li>
    <img src="" alt=""/>
    <div>весь текст

       <div>название цена локация отзывы

            <div>
                <h2>name</h2> 
                <div>
                    <h2>price</h2>
                    <Icon>hers</Icon>
                </div>
            </div>          
            <ul>
                <li>
                    <Icon>star</Icon><span>rating(reviews.length Reviews)</span
                </li>
                <li>
                    <Icon>loc</Icon><span>location</span
                </li>
            </ul>
           
        </div>
        <p>description</p>
        <ul>
            <li>
                <Icon>loc</Icon><span>location</span 
            </li>
            <li>
                <Icon>loc</Icon><span>location</span
            </li>
        </ul>
        <Button></Button>

    </div>
</li>