.wrapTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modalClose {
    /* position: absolute; */
    /* top: 14px;
    right: 14px; */
    background: none;
  /* border: none; */
  border: 1px solid red;
  /* font-size: 24px; */
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.wrapLocation  {
    display: flex;
    gap: 16px;  
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

.image {
    display: flex;
    gap: 16px;     
}

.img {
    border-radius: 10px;
    width: 290px;
    height: 310px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;   
}