.customInput {
    display: flex;
    align-items: center;
   
    

    width: 400px;
     
    padding: 18px 18px 18px 18px;
    background: transparent;
    border: 1px solid blue;
    border-radius: 10px;
    /* font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #101828;  */
    /* flex-grow: 1; */
  }
  
  .customInput input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #101828; 
  }
  
  