.customInput {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 18px 18px 18px 18px;
    background-color: #F7F7F7;
    border: transparent;
    border-radius: 10px;
    
  }
  
  .customInput input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #101828; 
  }
  
  