.wrapReview {
    width: 430px;
}

.wrapReview  ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

.nameReviewer {
    display: flex;
    gap: 16px;
}

.nameReviewer h3 {
    margin-bottom: 4px;
}

.circle {
    border-radius: 60px;
    width: 60px;
    height: 60px; 
    background-color: #F2F4F7 ; 
font-weight: 600;
font-size: 24px;
line-height: 125%;
color: #E44848;
display: flex;
justify-content: center;
align-items: center;

}