.text {
   
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgba(16, 24, 40, 0.6);
    margin-bottom: 8px;
}

.input {
border-radius: 10px;
padding: 18px 218px 18px 18px;
/* width: 360px;
height: 56px; */
background-color: #f7f7f7;
font-weight: 400;
font-size: 16px;
line-height: 125%;
color: #101828;
border: none;
margin-bottom: 32px;
}

.wrapEquipment {
    width: 360px;
    margin-bottom: 35px;
}

.title {
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: #101828;
padding-bottom: 23px;
margin-bottom: 24px;
/* border-bottom: 1px solid  #f7f7f7; */
border-bottom: 1px solid  blue;
}

.wrapCheckbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox {
    width: 112px;
}

.checkbox, .radio{
    /* border: 1px solid #f2f4f7; */
    border: 1px solid red;
    border-radius: 10px;
    padding: 7px 24px;
    
    height: 95px;
    mix-blend-mode: multiply;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
font-weight: 500;
font-size: 16px;
line-height: 125%;
text-align: center;
color: #101828;
background-color: transparent;
}



